.userPhoto{
   width: 100px;
    height: 100px;
    position: relative;
    top: 70px;
}

.btn{
    position: relative;
    left: 110px;
}

.cont{
    margin: 10px;
}
.name{
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}
.info{
    margin: 0px 110px 0px ;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}
.selectedPage{
    font-weight: bold;
    color: white;

}
.numberPage{
    font-size: 18px;
    border: 1px solid black;
    margin: 0px 5px 0px ;
    padding: 3px;
}
.numberPage :hover{
    font-size: 20px;
    color: white;
    cursor: pointer;
}