.header{
    grid-area: h;
    background-color: cornflowerblue;

}
.header img{
    width: 60px;
}
.loginBlock
{
    float: right;
}
.loginBlock a{
    color: white;
}
.btn{
    height: 35px;
    background-color: black;
    border: none;
    font-weight: bold;
    /*width:60px;*/
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}